body {
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
    font-style: normal;
}

.navbar,
.navbar-inverse {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    border: 0 !important;
    /*height: 70px;*/
    color: white;
}

.navbar-header {
    background: #E82D02;
}

.topNavbar {
    background: #E82D02;
}

.topNavbar button {
    border: none;
}

.topNavbar button:hover {
    background: #FF5702 !important;
}

#mainNavbar {
    border: none !important;
}

.collapse {
    border: 0 !important;
}

#mainNavbar li a {
    color: white;
    font-size: 15px;
    /*text-transform: uppercase;*/
    transition: all .5s ease;
}

#mainNavbar li a:hover {
    color: black !important;
}

.jumboCarousel {
    /*margin-top: 70px;*/
    min-height: 300px;
    min-width: 100%;
}

.jumboCarousel .carousel-caption {
    color: white;
    right: 0% !important;
    left: 50% !important;
    text-align: left !important;
    max-width: 50%;
    /*top: 1px;*/
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    background: rgba(0, 0, 0, 0.5);
    padding: 5%;
    height: 100%;
    vertical-align: middle !important;
}

.get-quote-btn {
    border: none;
    background: #5cb85c;
    color: white;
}

.get-quote-btn:hover {
    background: #FF150B;
    color: white !important;
}

#serve-text {
    background-color: white;
}

#serve-text h2 {
    font-size: 45px;
    color: #5cb85c;
}

#services thumbnail {
    padding-top: 20px;
}

#services img {
    max-width: 320px;
    max-height: 150px;
}

#services p {
    text-align: left;
    line-height: 160%;
}

#about-us h3 {
    font-size: 30px;
    color: #5cb85c;
}

#about-us p {
    font-weight: 600px !important;
    line-height: 25px;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}

#quote-carousel .item blockquote {
    border-left: none;
    margin: 0;
}

#quote-carousel p {
    font-size: 25px;
    line-height: 40px;
    color: #85012E;
}

.footer {
    background: #E82D02;
    padding: 10px 0;
}

.footer address {
    color: white;
    line-height: 25px;
}

.footer #footer-links {
    color: white;
}

.footer #footer-links ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer #footer-links li a {
    text-decoration: none;
    color: white;
    transition: all .5s ease;
}

.footer #footer-links li a:hover {
    color: black;
}

.footer #social a {
    color: white;
    font-size: 30px;
    padding: 10px;
    /*border-right: 1px solid #70726F;*/
    transition: all .5s ease;
}

.footer #social a:hover {
    color: #000000;
    /*color: #70726F;*/
}


/*Media queries for screens less than 600px*/

@media (max-width: 600px) {
    .jumboCarousel {
        /*margin-top: 70px;*/
        min-height: 200px;
        min-width: 100%;
    }
    .jumboCarousel .carousel-caption {
        color: white;
        right: 0% !important;
        left: 0% !important;
        text-align: left !important;
        max-width: 100% !important;
        bottom: initial;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
    }
    .jumboCarousel .carousel-caption img {
        height: 500px !important;
    }
    .jumboCarousel .carousel-caption h2 {
        font-size: 20px;
        padding-top: 0;
        margin: 0;
    }
    .jumboCarousel .carousel-caption hr {
        margin: 0;
        padding: 0;
    }
    #footer {
        text-align: center;
    }
}


/*.item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}*/


/*.carousel-inner {
    float: right;
}*/